<!DOCTYPE html>
<html lang="en">
  <head>
  	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
    <title>MG (home)</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

  </head>

	<body>

		<div id='welcome'>
			<h2>
			Welcome to 'MG-exercise'. Here you will find everything you need for your training.
			</h2>

			<br>
			<br>
			<br>
			<br>
			<br>

			<button id="btnStart" type="button" class="btn standard-button">
				Click to start!
			</button>

		</div>

		<div id='addExercise'>
			

		</div>

		<div id='log'>
			

		</div>

		<div id='session'>
			

		</div>

	</body>
</html>