/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
 */

.standard-button{
	background-color: rgba(255, 255, 255, 0.5);
}

.background{
	background-color: #222;
}

.arnold{
	background-image: url("http://i.imgur.com/VgS4oTL.jpg");
	background-size: 100%;
    background-attachment: fixed;
}

.welcome-text{
  font-size: 48px;
  color: #e4e4e4;
}

.welcome-sub{
  color: #e4e4e4;
}

.center-contents {
  text-align: center;
}

.welcome-ctas {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .welcome-ctas {
    display: block;
  }
  .center-mobile {
    text-align: center;
  }
}

.past-sessions-link {
  display: block;
  margin-top: 20px;
}

h3 {
	color: #000;
	font-size: 28px;
	text-shadow: 0px 0px 0px #500;
}

p {
	font-family: "Helvetica";
	color: #999;
	text-shadow: 1px 1px 1px #000;
}

.top-buffer{
	margin-top: 60px;
}

.padding-input-boxes{
	padding: 25px;
}

.text-box {
  background-color: rgba(255, 255, 255, 0.3);
}

.new-session-cta {
  margin-top: 10px;
}

.banner{
	background-color: #eee;
}

.banner a{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #ddd;
  color: black;
}

.link-text{
	color: rgba(0, 0, 0, 1);
}

.musclegroup-log{
	background-color: rgba(0, 0, 0, 1);
}

.bottom-line{
    border-bottom: solid rgba(115, 115, 115, 1);
}
