/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
 */

body {
  color: #999;
}

.standard-button{
	background-color: rgba(255, 255, 255, 0.5);
}

.background{
	background-color: #222;
}

.arnold{
	background-image: url("http://i.imgur.com/VgS4oTL.jpg");
	background-size: 100%;
    background-attachment: fixed;
}

.welcome-text{
  font-size: 48px;
  color: #e4e4e4;
}

.welcome-sub{
  color: #e4e4e4;
}

.center-contents {
  text-align: center;
}

.welcome-ctas {
  display: inline-block;
}

.black-text {
  color: #000;
}

.past-sessions-link {
  display: inline-block;
  margin-top: 20px;
  color: #e4e4e4;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 10px;
  border-radius: 5px;
}

h3 {
	font-size: 28px;
}

.top-buffer{
	margin-top: 60px;
}

.padding-input-boxes{
	padding: 25px;
}

.text-box {
  background-color: rgba(255, 255, 255, 0.3);
}

.new-session-cta {
  margin-top: 10px;
}

.banner{
	background-color: #eee;
}

.banner a{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #ddd;
  color: black;
  font-size: 1.4em;
}

.line {
  border-top: 2px solid #555;
  padding-top: 10px;

}

.link-text{
	color: rgba(0, 0, 0, 1);
}

.musclegroup-log{
	background-color: rgba(0, 0, 0, 1);
}

.bottom-line{
    border-bottom: solid rgba(115, 115, 115, 1);
}

.delete-button{
	margin-bottom: 10px !important;
	padding: 6px 6px !important;
}

img.bg-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.exercise-img {
  height: 150px;
  width: 150px;
  max-height: 100%;
  max-width: 100%;
}

.exercise-row {
  margin-bottom: 20px;
  color: #ddd;
}

.add-success {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .welcome-ctas {
    display: block;
  }
  .center-mobile {
    text-align: center;
  }
  img.bg-img {
    left: -400px;
  }
}