<div id='addExercise' class="container">

      <div class="row">
        <div class="col-md-3 padding-input-boxes">
          <div class="input-group">
            <input id="exerciseImage" type="text" class="form-control" placeholder="Enter image link">
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 padding-input-boxes">
          <div class="input-group">
            <input id="exerciseMuscle" type="text" class="form-control" placeholder="Enter muscle name">
          </div>
          <div class="input-group">
            <input id="exerciseName" type="text" class="form-control" placeholder="Enter exercise name">
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 padding-input-boxes">
          <div class="input-group">
            <textarea rows="4" cols="22" id="exerciseDescription" placeholder="Enter exercise description">
            </textarea>
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 padding-input-boxes"></div>
        <span class="input-group-btn">
          <button id="btnExerciseImage" class="btn btn-default" type="button">Add</button>
        </span>
      </div>

      <table style="width:100%">
        <tr>
          <td><img src="http://i.imgur.com/SQa017K.gif" alt="dog" style="width:200px;height:200px"></td>
          <td><h3>Benchpress</h3></td>
          <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet odio dictum, dapibus ante non, pellentesque neque. Cras at libero scelerisque, cursus ante faucibus, consequat risus. Fusce sit amet dui in dui egestas lobortis. Pellentesque eget fermentum ipsum, feugiat blandit magna. Morbi eu orci sapien. Praesent dictum luctus mi ut pellentesque. Praesent elit ligula, fermentum vel pulvinar ut, cursus vitae arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras venenatis sagittis neque, nec lobortis libero gravida ut. Morbi eget est varius, scelerisque elit ut, egestas nisl. Quisque at neque et lacus consectetur tempor. Praesent non est eget ex posuere mollis et id est. Maecenas luctus efficitur ex. Nulla id congue sem. Sed sollicitudin elementum vehicula. Praesent orci diam, ullamcorper a lobortis at, feugiat sit amet neque. </p></td>
        </tr>
        <tr>
          <td><img src="http://i.imgur.com/Bc0MU.jpg?1" alt="dog" style="width:200px;height:200px"></td>
          <td><h3>Benchpress</h3></td>
          <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet odio dictum, dapibus ante non, pellentesque neque. Cras at libero scelerisque, cursus ante faucibus, consequat risus. Fusce sit amet dui in dui egestas lobortis. Pellentesque eget fermentum ipsum, feugiat blandit magna. Morbi eu orci sapien. Praesent dictum luctus mi ut pellentesque. Praesent elit ligula, fermentum vel pulvinar ut, cursus vitae arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras venenatis sagittis neque, nec lobortis libero gravida ut. Morbi eget est varius, scelerisque elit ut, egestas nisl. Quisque at neque et lacus consectetur tempor. Praesent non est eget ex posuere mollis et id est. Maecenas luctus efficitur ex. Nulla id congue sem. Sed sollicitudin elementum vehicula. Praesent orci diam, ullamcorper a lobortis at, feugiat sit amet neque. </p></td>
        </tr>
      </table> 
      

    </div>