<div id='addExercise' class="container">
  <form ng-submit="addExercise(); resetForm()">
    <div class="col-md-3 padding-input-boxes">
      <div class="row">
        <div class="form-group" ng-class="{ error: inputForm.exerciseImage.$invalid }">
          <label for="exerciseImage">Image link</label>
          <input
            name="exerciseImage"
            type="url"
            class="form-control"
            placeholder="Enter link to image"
            ng-model="imageLink">
        </div>
      </div>
      <div class="row">
        <div class="form-group" ng-class="{ error: inputForm.exerciseMuscle.$invalid }">
          <label for="exerciseMuscle">Exercise name</label>
          <input
            name="exerciseMuscle"
            type="text"
            class="form-control"
            placeholder="Enter exercise name"
            ng-model="name">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="muscleGroup">Main muscle group</label>
          <select name="muscleGroup" ng-model="muscleGroup" ng-options="group for group in muscleGroups" class="black-text">
            <option value="" disabled selected>Select main muscle group</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group" ng-class="{ error: inputForm.exerciseDescription.$invalid }">
          <label for="exerciseDescription">Description</label><br/>
          <textarea
            rows="4"
            cols="22"
            name="exerciseDescription"
            type="text"
            placeholder="Enter exercise description"
            ng-model="description">
          </textarea>
        </div>
      </div>
      <div class="row">
        <button id="btnExerciseImage" class="btn btn-default" type="submit" ng-submit="reset()">Add</button>
        <div class="btn btn-success add-success">Added</div>
      </div>
    </div>
  </form>
  <div class="col-md-9 padding-input-boxes">
    <div class="row exercise-row line" ng-repeat="exercise in exercises">
      <div class="col-md-4"><img class="exercise-img" ng-src="{{exercise.image}}" alt="404- Not found"></div>
      <div class="col-md-3">
        <h3>{{exercise.name}}</h3>
      </div>
      <div class="col-md-4">
        <p>{{exercise.description}}</p>
      </div>
      <div class="col-md-1">
        <button ng-click="deleteExcercise(exercise.name)" class="glyphicon glyphicon-remove-sign btn btn-danger delete-button" type="button"></button>
      </div>
    </div>
  </div>
</div>