<div id"log_session" class="container">
  <h1 class="welcome-text">Session</h1>

  <div class="container musclegroup-log">


	  <div class="row">
		  <div class="col-md-2">
		      <h3>Chest/Shoulders</h3>
		  </div>

		  <div class="col-md-4">
		   <table style="width:100%">
			  <tr>
			    <th>Exercise</th>
			    <th>Weight</th>		
			    <th>Repetitions</th>
			  </tr>

			    <div>
					  <tr ng-repeat="exercise in exercises">
					    <td>{{ exercise.exercise }}</td>
					    <td>{{ exercise.weight }}</td>
					    <td>{{ exercise.reps }}</td>
					  </tr>
			    </div>

			</table> 
        </div>
      </div>

  </div>

</div>