<div id='session' class="container">
	<h1 class="welcome-text">Session</h1>


	<div class="row">
    <div class="col-md-2 padding-input-boxes">
      <select id="selected-group" ng-model="selectedGroup" ng-options="group for group in muscleGroups"></select>
    </div>
    <div class="col-md-2 padding-input-boxes">
    	<select id="selected-group" ng-model="selectedExercise" ng-options="exercise.name for exercise in allExercises | filter:selectedGroup"></select>
    </div>
  	<div class="col-md-2 input-group">
      <input id="weight" type="text" class="form-control" placeholder="Weight">
    </div>
    <div class="col-md-2 input-group">
      <input id="sets" type="text" class="form-control" placeholder="Number of sets">
    </div>
    <div class="col-md-2 input-group">
      <input id="reps" type="text" class="form-control" placeholder="Number of repetitions">
    </div>

  </div>

</div>