<div id='session' class="container">
	<h1 class="welcome-text">Session</h1>


	<div class="col-md-2">
    <form ng-submit="addExerciseToSession()">
    <div class="form-group">
      <label for="selected-group">Group</label><br/>
      <select id="selected-group" ng-model="selectedGroup" ng-options="group for group in muscleGroups">
      </select>
    </div>
    <div class="form-group">
      <label for="selected-exercise">Exercise</label><br/>
      <select id="selected-exercise" ng-model="selectedExercise" ng-options="exercise.name for exercise in allExercises | filter:{ muscle:selectedGroup }">
      </select>
    </div>
    <div class="form-group">
      <label for="weight">Weight lifted</label>
      <input id="weight" ng-model="weight" type="text" class="form-control" placeholder="Weight">
    </div>
    <div class="form-group">
      <label for="sets">Number of sets</label>
      <input id="sets" ng-model="sets" type="text" class="form-control" placeholder="Sets">
    </div>
    <div class="form-group">
      <label for="reps">Number of repetitions</label>
      <input id="reps" ng-model="reps" type="text" class="form-control" placeholder="Repetitions">
    </div>
      <button id="btnExerciseImage" class="btn btn-default" type="submit">Add</button>
    </form>
  </div>
  <div class="col-md-10">
    <div class="row" ng-repeat="muscleGroup in uniqueMuscleGroups()">
      <div class="col-md-12">
          <h3>{{ muscleGroup }}</h3>
      </div>

      <div class="col-md-12 bottom-line">
        <div class="row top-descriptions">
          <span class="col-xs-4">Exercise</span>
          <span class="col-xs-3">Weight</span>
          <span class="col-xs-3">Repetitions</span>
          <span class="col-xs-2"></span>
        </div>
        <div class="row" ng-repeat="exercise in exercises | filter:{muscleGroup:muscleGroup}">
          <span class="col-xs-4">{{ exercise.exercise }}</span>
          <span class="col-xs-3">{{ exercise.weight }}</span>
          <span class="col-xs-3">{{ exercise.reps }}</span>
          <span class="col-xs-2"> <button ng-click="deleteExerciseFromSession(exercise.exercise, exercise.sets, exercise.reps, exercise.weight)" class="glyphicon glyphicon-remove-sign btn btn-danger delete-button" type="button"></button> </span>
        </div>
      </div>
    </div>
  </div>

</div>