<div id='welcome' class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="welcome-text">
      Welcome to 'MG-exercise'. Here you will find everything you need for your training.
      </h2>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row top-buffer col-md-2">
    <a href="#/session" id="btnStart" class="btn standard-button link-text">
      New session
    </a>
  </div>
  <div class="row top-buffer col-md-2 ">
    <a href="#/log" id="btnStart" class="btn standard-button link-text">
      Past sessions
    </a>
  </div>
</div>