<img class="bg-img" src="http://i.imgur.com/VgS4oTL.jpg"></img>
<div id='welcome' class="container">
  <div class="center-mobile">
    <h2 class="welcome-text">
      Mad Gainz
    </h2>
    <h3 class="welcome-sub">
      Let us help you keep track of your training!
    </h3>
  </div>
  <div class="row">
  </div>
  <div class="top-buffer center-contents welcome-ctas">
    <a href="#/sessions/new" id="btnStart" class="btn btn-primary btn-lg">
      Create a new session
    </a>
    <br/>
    <a href="#/sessions" class="past-sessions-link">
      View my past sessions
    </a>
  </div>
</div>